*{
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }

  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }

.listado{

     display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(57, 55, 177);
}

.lista {
    float: right;
}

.listado a {
    display: block;
    color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;

}

.container-1{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 align-items: baseline;
 
 
}

.container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}

.container-1 div, .container-2 div{
    border: 1px #ccc solid;
    padding: 10px;
}



.pie {
    background-color: rgb(57, 55, 177);
}